{% extends "base.html" %}
{% load static %}

{% block scripts %}
    <script src="{% static 'view/acc.js' %}"></script>
{% endblock %}

{% block content %}
{% if data %}

<div class="accordion" id="deps">
    {% for dep in data %}
        <div class="accordion-item" data-id="{{ dep.id }}">
            <h2 class="accordion-header" id="heading_{{ dep.id }}">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acc_dep_{{ dep.id }}" aria-expanded="false" aria-controls="acc_dep_{{ dep.id }}">
                {{ dep.name }}
            </button>
            </h2>
            <div id="acc_dep_{{ dep.id }}" class="accordion-collapse collapse show" aria-labelledby="heading_{{ dep.id }}" data-bs-parent="#deps">
                <div class="accordion-body" data-id="{{ dep.id }}">
                    <div class="employers">
                            <table>
                                <thead>
                                    <th>
                                        <td>Должность</td>
                                        <td>ФИО</td>
                                        <td>Дапа поступления</td>
                                        <td>Оклад</td>
                                    </th>
                                </thead>
                                <tbody>
                                    {% for e in data.description.employers %}
                                        <th>
                                            <td>{{ e.duty }}</td>
                                            <td>{{ e.name }}</td>
                                            <td>{{ e.date}}</td>
                                            <td>{{ e.salary }}</td>
                                        </th>

                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="deps" data-id="{{ data.id }}">
                            {% for d in data.description.sub_deps %}
                                <div class="accordion-item" data-id="{{ d.id }}">
                                    <h2 class="accordion-header" id="heading_{{ d.id }}">
                                      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#acc_dep_{{ d.id }}" aria-expanded="false" aria-controls="flush-collapseOne">
                                          {{ d.name }}
                                      </button>
                                    </h2>
                                    <div id="acc_dep_{{ d.id }}" class="accordion-collapse collapse" aria-labelledby="heading_{{ d.id }}" data-bs-parent="#acc_dep_{{ dep.id }}">
                                      <div class="accordion-body" data-id="{{ d.id }}">

                                      </div>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
{#    <li>{{ dep.name }}</li>#}
    {% endfor %}
</div>
{% endif %}

{% endblock %}

